@charset "UTF-08";
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: darkgrey;
}
header{
    background-color: black;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#menu {
    list-style: none;
    list-style-position: inside;
    display: flex;
    justify-content: space-around;
    margin-right: 25px;
    
}
a{
    margin-left: 15px;
    text-decoration: none;
    color: white;
    padding: 10px;
    text-align: center;
    font-variant: small-caps;
}
a:hover{
    background-color: white;
    color: black;
    border-radius: 2px;
    transition: 0.5s;
}

#btn-mobile{
    display: none;
}
@media (max-width: 875px) {
    #btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        font-family: Arial, Helvetica, sans-serif;
        font-variant: small-caps;
        border: none;
        background: none;
        cursor: pointer;
        color: white;
        gap: .5rem;
    }
    #burguer{
        display: block;
        width: 20px;
        border-top: 2px solid;
        color: white;
        gap: .5rem;
    }
    #burguer::after, #burguer::before{
        content: '';
        display: block;
        background: white;
        width: 20px;
        height: 2px;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }
    #nav.active #burguer{
        border-top-color: transparent;

    }
    #nav.active #burguer::before{
        transform: rotate(135deg);

    }
    #nav.active #burguer::after{
        transform: rotate(-135deg);
        top: -7px;

    }
    #menu{
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background-color: black;
        display: none;
        height: 0px;
        transition: .6s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }
    #nav.active #menu{
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }
    #menu a{
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    }
    
}


main{
    background-color: white;
    
}
#container-flex{
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;;
}
#container-flex  .item-1{
    width: 250px;
    height: 100px;
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    font-weight: bold;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    flex: 1 1 100px;
    margin-left: 20px;
    margin-bottom: 20px;
    

}
#container-flex  .item-2{
    width: 250px;
    height: 100px;
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    font-weight: bold;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    flex: 1 1 100px;
    margin-left: 20px;
    margin-bottom: 20px;
    

}
#container-flex  .item-3{
    width: 250px;
    height: 100px;
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    font-weight: bold;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    flex: 1 1 100px;
    margin-left: 20px;
    margin-bottom: 20px;

}
#container-flex  .item-4{
    width: 250px;
    height: 100px;
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    font-weight: bold;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    flex: 1 1 100px;
    margin-left: 20px;
    margin-bottom: 20px;
    
}
#container-flex  .item-1:hover{
    width: 250px;
    height: 100px;
    transition: 0.5s;
    background-color: white;
    color: black;
    border-radius: 12px;
    transform: translateY(10px);

}
#container-flex  .item-2:hover{
    width: 250px;
    height: 100px;
    transition: 0.5s;
    background-color: white;
    color: black;
    border-radius: 12px;
    transform: translateY(10px);

}
#container-flex  .item-3:hover{
    width: 250px;
    height: 100px;
    transition: 0.5s;
    background-color: white;
    color: black;
    border-radius: 12px;
    transform: translateY(10px);

}
#container-flex  .item-4:hover{
    width: 250px;
    height: 100px;
    transition: 0.5s;
    background-color: white;
    color: black;
    border-radius: 12px;
    transform: translateY(10px);

}
#container-grid{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    justify-content: space-between;
    

}
.carta-1{
    position: relative;
    width: 350px;
    height: 350px;
    margin: 50px;
    border-radius: 20px;
    overflow: hidden;
    background-image: url(img/cat-2083492_640.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    box-shadow:  5px 3px 12px  #00000031;
}
.carta-2{
    position: relative;
    width: 350px;
    height: 350px;
    margin: 50px;
    border-radius: 20px;
    overflow: hidden;
    background: url(img/fox-1758183_640.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    box-shadow:  5px 3px 12px  #00000031;
}
.carta-3{
    position: relative;
    width: 350px;
    height: 350px;
    margin: 50px;
    border-radius: 20px;
    overflow: hidden;
    background: url(img/fox-1883658_640.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    box-shadow:  5px 3px 12px  #00000031;
}
.carta-4{
    position: relative;
    width: 350px;
    height: 350px;
    margin: 50px;
    border-radius: 20px;
    overflow: hidden;
    background: url(img/green-4183977_640.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    box-shadow:  5px 3px 12px  #00000031;
}
.carta-5{
    position: relative;
    width: 350px;
    height: 350px;
    margin: 50px;
    border-radius: 20px;
    overflow: hidden;
    background: url(img/lion-951778_640.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    box-shadow:  5px 3px 12px  #00000031;
}
.carta-6{
    position: relative;
    width: 350px;
    height: 350px;
    margin: 50px;
    border-radius: 20px;
    overflow: hidden;
    background: url(img/parrot-3601194_640.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    box-shadow:  5px 3px 12px  #00000031;
}
.carta-7{
    position: relative;
    width: 350px;
    height: 350px;
    margin: 50px;
    border-radius: 20px;
    overflow: hidden;
    background: url(img/red-fox-1310826_640.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    box-shadow:  5px 3px 12px  #00000031;
}
.carta-8{
    position: relative;
    width: 350px;
    height: 350px;
    margin: 50px;
    border-radius: 20px;
    overflow: hidden;
    background: url(img/tiger-2535888_640.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    box-shadow:  5px 3px 12px  #00000031;
}
.carta-9{
    position: relative;
    width: 350px;
    height: 350px;
    margin: 50px;
    border-radius: 20px;
    overflow: hidden;
    background: url(img/fox-1883658_640.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    box-shadow:  5px 3px 12px  #00000031;
}
.conteudo{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background-color: white;
    border-top-left-radius: 20px;
    transform: translateY(160px);
    transition: trasform 0.25s;

    font-family: Arial, Helvetica, sans-serif;

}
.conteudo::before{
    content: "";
    position: absolute;
    top: -50px;
    right: -27px;
    width: 120px;
    height: 100px;
    transform: rotate(-195deg);
    border-radius: 100%;
    box-shadow: inset 51px 65px white; 
}
.title{
    color: black;
    font-size: 1.2em;
    line-height: 15px;
    letter-spacing: 2px;
    margin-bottom: 7px;
}
.sub-t{
    display: block;
    font-size: 14px;
    margin-bottom: 10px;
}
.texto{
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
   
    width: 270px;

}
.carta-1:hover .conteudo{
    transform: translateY(0);
    transition: 0.25s;
}
.carta-2:hover .conteudo{
    transform: translateY(0);
    transition: 0.25s;
}
.carta-3:hover .conteudo{
    transform: translateY(0);
    transition: 0.25s;
}
.carta-4:hover .conteudo{
    transform: translateY(0);
    transition: 0.25s;
}
.carta-5:hover .conteudo{
    transform: translateY(0);
    transition: 0.25s;
}
.carta-6:hover .conteudo{
    transform: translateY(0);
    transition: 0.25s;
}
.carta-7:hover .conteudo{
    transform: translateY(0);
    transition: 0.25s;
}
.carta-8:hover .conteudo{
    transform: translateY(0);
    transition: 0.25s;
}
.carta-9:hover .conteudo{
    transform: translateY(0);
    transition: 0.25s;
}
footer > p{
    text-align: center;
    padding: 25px;
    background-color: black;
    color: white;
    font-size: 0.9em;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}
@media (max-width: 1024px){
    #container-flex{
        width: 800px;
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
        margin: auto;
    }
    }
    @media (max-width: 875px){
        #container-flex{
            width: 300px;
            display: flex;
            flex-wrap: wrap;
            padding: 20px;
            margin: auto;
        }
        }
     @media (max-width: 875px){
        #container-flex .item-1 .item-2 .item-3 .item-4{
            width: 150px;
            height: 50px;
            
        }
     }   
@media (max-width: 1024px){
    #container-grid{
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(6,auto);
        grid-area: 
        "carta-1 carta-2"
        "carta-3 carta-4"
        "carta-5 carta-6"
        "carta-7 carta-8"
        "carta-9";
        margin: auto;
   }
   }
   @media (max-width: 875px){
    #container-grid{
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(9,auto);
        grid-area: 
        "carta-1"
        "carta-2"
        "carta-3"
        "carta-4"
        "carta-5"
        "carta-6"
        "carta-7"
        "carta-8"
        "carta-9"; 
        margin-left: -45px;
   }
   }
   @media (max-width: 875px){
    .carta-1 .carta-2 .carta-3 .carta-4 .carta-5 .carta-6 .carta-7 .carta-8 .carta-9{
        position: relative;
        width: 250px;
        height: 250px;
        margin-top: 30px;
        border-radius: 20px;
        overflow: hidden;
    }
   }
   
   
